@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;700&family=Poppins:wght@400;500;700&display=swap");
@import "tailwindcss";

body {
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.font-baloo {
  font-family: "Baloo 2", cursive;
}

@keyframes fade {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  50% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}

.animate-fade {
  animation: fade 2s ease-in-out forwards;
}
